.ctoContainer{
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-rows: 50px 300px 1fr ;
    justify-content: left;
    padding-top: 10px;
}
.huNum{
    display: inline-block;
    text-align: left;
    padding-top: 10px;
    padding-left: 14px;
}
.huNum>input{
    border-radius: 2px;
}
.huNum>input:hover{
    border-radius: 2px;
    border: 2px solid orange;
    background-color: rgb(10, 169, 169);
    color: white;
}
.huLabel{
    width: 140px;
    padding-top: 3px;
    background-color: teal;
    color: white;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
}

.ctoFormContainer{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
    
}
.formRow1{
    display: inline-block;
    justify-content: left;
    padding-bottom: 10px;
}
.formRow1>thead>tr>th>label{
    width: 380px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: left;
    padding-left: 5px;
}
.formRow1>tbody>tr>td>input{
    width: 380px;
    border-radius: 5px;
    border: 2px solid black;
}
.formRow1>tbody>tr>td>input:hover{
    width: 380px;
    border-radius: 5px;
    border: 2px solid orange;
    background-color: rgb(10, 169, 169);
    color: white;
}

.formRow2{
    padding-left: 10px;
    padding-bottom: 10px;
}
.ctoformLabel{
    width: 300px;
    text-align: left;
    margin-right: 15px;
    padding-left: 5px;
}
.ctoformInput{
    width: 300px;
    margin-right: 15px;
    border-radius: 5px;
    border: 2px solid black;
}
.ctoformInput:hover{
    border-radius: 5px;
    border: 2px solid orange;
    background-color: rgb(10, 169, 169);
    color: white;
}
.ctoCountry{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
}
.ctoCountry:hover{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid orange;
    background-color: rgb(10, 169, 169);
    color: white;
}

.formRow3{
    padding-left: 10px;
    padding-bottom: 10px;
}
.ctoformLabel3{
    width: 230px;
    text-align: left;
    margin-right: 10px;
    padding-left: 5px;
}
.ctoFormInput3{
    width: 230px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.ctoFormInput3:hover{
    width: 230px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid orange;
    background-color: rgb(10, 169, 169);
    color: white;
} 
.saveBtn{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 14px;
}