.userReports{
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 214, 214)
}
thead{
    border: 1px ridge rgb(127, 79, 238);
    border-radius: 20px;
}
thead>tr>th {
    background-color: rgba(62, 231, 178, 0.959);
    border: 2.5px solid  rgb(60, 49, 87);
    color: rgb(30, 99, 177);
}

tbody>tr>td {
    background-color: rgba(188, 250, 230, 0.959);
    border: 2px solid  rgb(60, 49, 87);
    color: rgb(30, 99, 177);
}
.btn{
    border-radius: 3px;
    border: 1px solid #2da4f3;
    background-color:#a0d4f7; 
    padding: 3px 10px;
    font-size: 11.5px;
    font-weight:bold;
    font-family:  sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    color: rgb(28, 97, 153);
    text-align:center;
}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
   background-color: rgba(62, 231, 178, 0.959);
}