.userReports{
    width:  100%;
    background-color: rgb(226, 196, 196);
    height: 100vh;
    
}
thead{
    border: 1px ridge rgb(127, 79, 238);
    border-radius: 20px;
}
thead>tr>th {
    background-color: rgba(62, 231, 178, 0.959);
    border: 2.5px solid  rgb(60, 49, 87);
    color: rgb(30, 99, 177);
}

tbody>tr>td {
    background-color: rgba(188, 250, 230, 0.959);
    border: 2px solid  rgb(60, 49, 87);
    color: rgb(30, 99, 177);
}